/node_modules/
/lib/
/test/
custom-elements.json
# top level source
music-synchronizer.js
music-synchronizer.js.map
music-synchronizer.d.ts
music-synchronizer.d.ts.map
# only generated for size check
music-synchronizer.bundled.js
/build/**