.card {
    flex: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    border: 1px solid #ccb20a;
    padding: 0;
    text-align: center;
    aspect-ratio: 2.5 / 1;
    width: 100px;
    border-radius: 5px;
    background-color: #ccba45;
    text-transform: capitalize;
}

.red {
    background-color: red !important;
    border: 1px solid darkred;
}

.blue {
    background-color: blue;
    border: 1px solid darkblue;
}

.assassin {
    background-color: #232323;
    border: 1px solid #121212;
}

.green1 {
    background-color: #004300;
    border: 1px solid #002700;
}

.green2 {
    background-color: green;
    border: 1px solid darkgreen;
}

.bystander {
    background-color: gray;
    border: 1px solid darkgray;
}

.bystander.green1 {
    background-image: linear-gradient(to bottom, #004300 50%, gray 50%);
    border: 1px solid #002700;
}

.bystander.green2 {
    background-image: linear-gradient(to bottom, green 50%, gray 50%);
    border: 1px solid darkgreen;
}

.revealed {
    background-color: purple;
    border: 1px solid #750075;
}

